* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* ===== header ===== */
header {
  background: url("./img/bg_red.png");
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.header-container {
  padding: 0 1rem;
}

.top-head {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 118px;
}

.header-logo a {
  display: block;
}

.header-logo a:hover {
  opacity: 0.7;
}

.header-logo img {
  height: 100%;
}

.header-sns {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
}

.nav-sns,
.nav-language {
  display: flex;
  align-items: center;
}

.nav-sns li,
.nav-language .notActive {
  padding: 2px 12px;
  background: #000;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  transition: all 0.2s;
}

.nav-sns li:hover,
.nav-language .notActive:hover {
  background: #808080;
}

.nav-language .active {
  padding: 5px 15px;
  background: #fff;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.nav-language .notActive {
  padding: 5px 15px;
}

.nav-sns i {
  font-size: 1.1em;
  color: #fff;
}

.title-en {
  font-size: 0.8em;
  color: #fff;
  margin-right: 10px;
  margin-left: 20px;
  font-weight: 400;
}

.nav-language a {
  font-size: 0.8em;
  color: #fff;
}

.nav-language .active {
  font-size: 0.8em;
  color: #000;
}

.nav-menu {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.nav-menu,
.menu-item {
  padding: 0.06em 0.5em;
  transition: all 0.2s;
}

.nav-menu .menu-item:hover {
  background: #fff;
  clip-path: polygon(10px 0, 100% 0%, calc(100% -10px) 100%, 0% 100%);
}

.nav-menu .menu-item:last-child:hover {
  background: none;
}

.menu-item a {
  font-size: 1.2em;
}

.nav-menu .icon a {
  font-size: 1.5em;
  cursor: pointer;
}

.nav-menu .icon a:hover {
  color: #00acee;
}

/* ===== main ===== */
main {
  display: flex;
  min-height: 100vh;
}

#main-content {
  flex: 1;
  position: relative;
}

.img-catch {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 12%;
  margin: 0 auto;
  display: block;
}

.img-title {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  display: block;
}

.img-text {
  position: absolute;
  bottom: 2%;
  right: 3%;
  display: block;
  width: 20%;
}

/* サイドバー */
#sidebar {
  background: #000;
  width: 400px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.youtube-area iframe {
  width: 100%;
}

.spotify-area {
  padding: 5px 10px 10px;
  flex: 1;
}

.spotify-area iframe {
  width: 100%;
  height: 100%;
}

/* ===== バナー ===== */
#banner {
  background: #222;
}

.ticket-area {
  display: flex;
  justify-content: center;
  padding: 4em 0 2em;
  gap: 10px;
}

.banner-rectangle {
  width: 210px;
  height: auto;
  background: red;
  transition: all 0.3s;
}

.banner-rectangle:hover {
  opacity: 0.8;
}

.info-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 10px 4em;
}

/* ===== NEWS ===== */
#news {
  background: #fff;
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;
}

.w-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.news-title {
  text-align: center;
  font-size: 2.2em;
  color: red;
}

#news .wrap {
  display: flex;
  padding: 1.5rem 0;
  border-top: 1px solid #e0c39b;
  letter-spacing: 2px;
  transition: all 0.3s;
}

#news .last-wrap {
  border-bottom: 1px solid #e0c39b;
}

#news .wrap:hover {
  color: red;
}

#news dt {
  width: 120px;
  font-weight: 700;
  color: red;
  letter-spacing: normal !important;
}

.btn-area {
  text-align: center;
  margin-top: 1.5rem;
}

.btn-area a {
  color: #fff;
  font-size: 1.2rem;
  padding: 2px 25px;
  background: #000;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  transition: all 0.2s;
  font-weight: 700;
}

.btn-area a:hover {
  background: red;
}

/* ===== footer ===== */
footer {
  background: #222;
  padding: 4rem 0;
}

.billing-roadshow {
  width: 50%;
  padding-top: 2rem;
  margin: 0 auto;
}
